.profile__info {
  margin: 0 auto 0 0;
  color: #FFFFFF;
  max-width: calc(336/880*100%);
  display: grid;
  grid-template-columns: auto auto;
  gap: 9px 18px;
  box-sizing: border-box;
}

@media screen and (max-width: 777px) {
  .profile__info {
    margin: 0;
    gap: 8px 10px;
    max-width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width: 411px) {
  .profile__info {
    text-align: center;
    margin-left: 25px;
  }
}