.page {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding: 45px 0 60px;
  background-color: #000000;
  font-family: 'Inter', 'Arial', sans-serif;
}
@media screen and (max-width: 320px) {
  .page {
    padding: 28px 0 36px;
  }
}