.card__description {
  padding: 25px 15px 26px 21px;
  background: #FFFFFF;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 100%;
}