.popup__content {
  padding: 34px 36px 37px;
  background-color: #ffffff;
  width: 430px;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .popup__content {
    padding: 26px 22px;
    margin: 0 auto;
    width: calc(100% - 38px);
  }
}