.profile__subtitle {
  margin: 0 0 -3px 0;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 930px) {
  .profile__subtitle {
    font-size: 16px;
  }
}
@media screen and (max-width: 411px) {
  .profile__subtitle {
    margin: 0;
    font-size: 14px;
    line-height: 1.21;
  }
}