.popup__close {
  padding: 0;
  background-image: url("../../../images/close_icon.svg");
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.popup__close:hover {
  animation: rotation 0.5s linear 0.5;
}

@media screen and (max-width: 600px) {
  .popup__close {
    right: 0;
  }
}
@media screen and (max-width: 480px) {
  .popup__close {
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}