.profile__avatar {
  margin-right: 30px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
  position: relative;
}

@media screen and (max-width: 777px) {
  .profile__avatar {
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 411px) {
  .profile__avatar {
    margin: 0 0 26px 0;
  }
}