.card__like {
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("../../../images/white_heart.svg");
  align-self: center;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}
.card__like:hover {
  opacity: 0.5;
}