.cards-grid {
  margin-top: 51px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
}

@media screen and (max-width: 930px) {
  .cards-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .cards-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 25px;
  }
}
@media screen and (max-width: 411px) {
  .cards-grid {
    margin-top: 36px;
    gap: 20px;
  }
}