@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/width-container/width-container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/main/main.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button/_edit/profile__button_edit.css);
@import url(../blocks/profile/__button/_add/profile__button_add.css);
@import url(../blocks/overflow/overflow.css);
@import url(../blocks/cards-grid/cards-grid.css);
@import url(../blocks/card/card.css);
@import url(../blocks/card/__trash/card__trash.css);
@import url(../blocks/card/__photo/card__photo.css);
@import url(../blocks/card/__description/card__description.css);
@import url(../blocks/card/__title/card__title.css);
@import url(../blocks/card/__like/card__like.css);
@import url(../blocks/card/__like/_active/card__like_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/hover-button/hover-button.css);

.popup_img {
  background-color: rgba(0, 0, 0, 0.9);
}
.popup__figure {
  margin: 0;
  position: relative;

}
.figure__img {
  max-width: 75vw;
  max-height: 75vh;
  box-sizing: border-box;
}
.popup__caption {
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
  line-height: 1.25;
}