.profile__info {
  margin: 0;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .profile__info {
    flex: 0 1 100%;
  }
}
@media screen and (max-width: 411px) {
  .profile__info {
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }
}