.profile__button_edit {
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  background-image: url("../../../../images/edit_button.svg");
  background-size: 10px 10px;
  align-self: flex-end;
}

@media screen and (max-width: 411px) {
  .profile__button_edit {
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
}