.popup__input {
  padding: 0 0 9px 0;
  margin: 30px 0 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 1.21;
  outline: none;
  display: flex;
  box-sizing: border-box;
}

.popup__input:first-of-type {
  margin-top: 0;
}