.card__title {
  margin: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.208;
  max-width: calc(250/282*100%);
  margin-bottom: -5px;
}
/* я неделю думал как сделать карточку правильного размера, додумался сам все-таки,
но если это не правильно(отрицательный марджин) вы разобьете мне сердце :) */