.card__trash {
  padding: 0;
  width: 18px;
  height: 19px;
  background-image: url("../../../images/trash.svg");
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}